<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Represent Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
    body {
        background-color: #EFEFEF;
    }
</style>
<body style="margin: auto;">
<div class="container">
    <h1 style="text-align:center;" class="page-header text-center">Detection on Traffic Discipline of Motorcyclist</h1>
    {% block content %}
         
    {% endblock content %}
</div>
</body>
</html>  